section.contact {
    padding: 6rem 0;
}

.contact-right {
    padding: 1.5rem 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
}

.contact-right form .form-control {
    padding: .8rem 1rem;
    font-size: 14px;
    line-height: 24px;
}

.contact-right form textarea {
    min-height: 150px;
}