.sidenavbar {
    flex: 1;
    background-color: aliceblue;
    border-right: 0.5px solid #dadada;
    min-height: 100vh;
    background-color: white;

    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 0.5px solid #dadada;

        .logo {
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--tan);
        }
    }

    .center {
        padding-left: 10px;

        ul {
            margin: 0;
            padding: 0;

            .title {
                margin: 0;
                font-size: 12px;
                font-weight: bold;
                color: #757575;
                margin-top: 1.2rem;
                margin-bottom: 0.375rem;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #ece8ff;
                }

                .icon {
                    font-size: 18px;
                    color: var(--tan);
                }

                span {
                    font-size: 13px;
                    font-weight: 500;
                    color: var(--gray);
                    margin-left: 10px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            border: 1px solid var(--gray);
            border-radius: 5px;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1) {
                background-color: white;
            }

            &:nth-child(2) {
                background-color: black;
            }
        }
    }
}