section.contact-cta {
    background: url(../../assets/images/contact/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6rem 0;
}