/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #1c1c1c;
  --font-color: #121212;
  --heading-color: #121443;
  --tan: #cebb85;
  --tuatara: #3c3c3a;
  --tobacco-brown: #706345;
  --granite-green: #8c8c6d;
  --hemlock: #535438;
  --gray: #848484;
  --tundora: #4c4c4c;
  --rangitoto: #343c24;
  --transition: all 0.4s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--tan);
  color: var(--primary-color);
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--heading-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input.form-control,
textarea.form-control {
  transition: var(--transition);
  color: var(--font-color);
  border: 1px solid var(--granite-green);
}

input.form-control:focus,
textarea.form-control:focus {
  border: 1px solid var(--granite-green);
  box-shadow: none;
}

.btn-general {
  padding: 0.6rem 2.2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  transition: var(--transition);
}

.btn-general:hover,
.btn-general:active,
.btn-general:focus {
  color: var(--secondary-color);
  background-color: transparent;
  border-color: var(--secondary-color);
}

.btn-general-outline {
  padding: 0.6rem 2.2rem;
  background-color: transparent;
  color: var(--primary-color);
  transition: var(--transition);
  border: 1px solid var(--primary-color);
  border-radius: 50px;
}

.btn-general-outline:hover,
.btn-general-outline:active,
.btn-general-outline:focus {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

ul.social-list li {
  display: inline-block;
  padding: 0;
  margin-right: 0.6rem;
}

ul.social-list li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 32px;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  border-radius: 50%;
  text-align: center;
  transition: var(--transition);
}

ul.social-list li:nth-child(1) a:hover,
ul.social-list li:nth-child(2) a:hover,
ul.social-list li:nth-child(3) a:hover,
ul.social-list li:nth-child(4) a:hover {
  color: var(--primary-color);
  border-color: transparent;
}

ul.social-list li:nth-child(1) a:hover {
  background: #3b5998;
}

ul.social-list li:nth-child(2) a:hover {
  background: #00aced;
}

ul.social-list li:nth-child(3) a:hover {
  background: #0072b1;
}

ul.social-list li:nth-child(4) a:hover {
  background: #E1306C;
}

/*Slick Slider CSS */
.testimonial-slider ul.slick-dots,
.team-slider ul.slick-dots {
  bottom: 0;
  position: relative;
  margin-top: 0.8rem;
}

.testimonial-slider ul.slick-dots>li,
.team-slider ul.slick-dots>li {
  background: #f7f7f7;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.testimonial-slider ul.slick-dots>li.slick-active,
.team-slider ul.slick-dots>li.slick-active {
  background-color: teal;
}

.testimonial-slider ul.slick-dots>li>button,
.team-slider ul.slick-dots>li>button {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  border: none;
}

.testimonial-slider ul.slick-dots>li>button::before,
.team-slider ul.slick-dots>li>button::before {
  content: none;
}