.widget {
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 8px;

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-size: 14px;
            text-transform: uppercase;
            color: var(--tan);
        }

        .counter {
            font-size: 24px;
            font-weight: bold;
        }

        .link {
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
            cursor: pointer;
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }

        .icon {
            font-size: 18px;
            padding: 5px;
            background-color: var(--tan);
            border-radius: 5px;
            align-self: flex-end;
            color: white;
        }
    }

}