section.banner {
    width: 100%;
    height: 75vh;
    background: linear-gradient(120deg, #4B0000 0%, #000000 100%), linear-gradient(300deg, #1E0000 0%, #0038FF 100%, #0038FF 100%), linear-gradient(65deg, #00FFFF 0%, #FF00A8 100%), linear-gradient(185deg, #FF0000 10%, #1400FF 95%), radial-gradient(100% 140% at 100% 0%, #00A3FF 0%, #C10097 100%);
    background-blend-mode: color-dodge, overlay, difference, color-dodge, normal;
    color: var(--primary-color);
}

@keyframes gradient {
    0% {
        background-position: 0%
    }

    100% {
        background-position: 100%
    }
}

.banner-content {
    background: rgba(28, 28, 28, 0.4);
    border: 1px solid var(--tan);
    border-radius: 8px;
}

.banner-content h1 {
    font-size: 3rem;
    color: var(--primary-color);
}

.banner-content p {
    font-size: 1.2rem;
}